<h1 class = "main-header">
  <%=@post.title%>
</h1>

<p class = "home-author">
  By: <%=@post.author%>
</p>


<p class = "individual-body">
  <%=@post.body%>
</p>

<h3 class = "main-header">
   Comments for <%=@post.title%>
</h3>

<ol class = "comment-list">
  <% @post.comments.each do |comment| %>
    <li> <%= comment.body %> | <%= comment.author %> </li>
  <% end %>
  <li class = "add-comment"> Add a comment? </li>
</ol>
